:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

.logo {
  max-height: 100px;
  margin-bottom: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-container {
  display: grid;
  grid-template-columns:  1fr 2fr;
  gap: 8px;
  align-items: center;
}
